[Unit]
Description=rails.service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/systemd/env.conf
TimeoutStartSec=10
RestartSec=2
Restart=on-failure
ExecStartPre=-/usr/bin/docker kill webserver
ExecStartPre=-/usr/bin/docker rm webserver
ExecStart=/bin/bash -c 'source /etc/systemd/env.conf && /usr/bin/docker run --rm --name webserver -p 80:80  {{ image }}:$WEBSERVER'
ExecStop=/usr/bin/docker stop webserver

[Install]
WantedBy=multi-user.target
